.MultipleTable .modelLine{
	display:none;
}
.MultipleTable .deletedLine{
	display:none;
}

.MultipleTable td input{
	display:block;
	width:100%;
}

.MultipleTable tr.actionLine td{
	border-top: 1px solid #CCCCCC;
	padding: 0px;
}
.MultipleTable td.actionCell{
	padding: 0px;
	margin: 0px;
  vertical-align: middle;
}
.MultipleTable td .btAdd{
	display:block;
  font-size: 1.7em;
  line-height: 1em;
	width:100%;
	height:100%;
}
.MultipleTable td .btDelete{
  margin:auto;
  padding:0px;
	display:block;
  width: 25px;
  height: 16px;
  text-indent:25px;
  overflow:hidden;
  background: url("../img/delete.png") top center no-repeat;
}
.MultipleTable td .btDelete:hover{
  background-position: bottom center;
}

.MultipleTable .collapsed{
	display:none;
}
.MultipleTable .btMore{
  margin:auto;
  padding:0px;
	display:block;
  width: 25px;
  height: 16px;
  text-indent:25px;
  overflow:hidden;
  background: url("../img/arrows.png") top center no-repeat;
}
.MultipleTable .btMore.open{
  background-position: bottom center;
}